@import "partials/setup";
@import "partials/variables";
@import "partials/header";
@import "partials/footer";


.wrapper {
	max-width: $wrapperWidth;
	margin: 0 auto;
}

html {
	font-size: 62.5%;
}

h2 {
	font-size: 4rem;
	font-family: $fontHeader;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 2rem;
}

p, ul li {
	font-size: 1.6rem;
}

section.sectionIntro {
	background-color: rgb(253, 252, 248);
}

div.sectionIcons {
	display: flex;
	justify-content: space-between;
	padding: 8% 0;
}

@media (max-width: 970px) {
  div.sectionIcons {
    flex-direction:column; } }

div.sectionIcons div {
	text-align: center;
}

div.sectionIcons div h3{
	font-family: $fontHeader;
	color: $brandTertiary;
}

div.sectionIcons div p{
	font-family: $fontBody;
	color: $brandSecondary;
}

section.menu {
	background: url(../images/menubg.png);
	background-size: cover;
	width: 100%;
}

section.menu h2 {
	font-family: $fontHeader;
	color: $brandQuaternary;
	background: url(../images/menu.png) center;
	background-repeat: no-repeat;
	padding: 10%;
	margin: 0 auto;
	text-align: center;
}

section.menu div.menu {
	display: flex;
}

@media (max-width: 970px) {
  section.menu div.menu {
   flex-direction: column; } }

div.menu {
	padding: 0 0 5% 0;
}

div.menu ul {
	padding-left: 0;
	list-style: none;
}

div.menu ul li h4, div.menu ul li p {
	margin: 0;
	padding: 2% 0;
}

div.dessertsMenu, div.pastryMenu {
	width: 45%;
	padding: 5%;
	border: 10px double $brandSecondary;
	outline: 4px solid $brandSecondary;
}

div.dessertsMenu h3, div.pastryMenu h3 {
	text-decoration: underline;
}

div.dessertsMenu {
	margin-right: 5%;
}

div.pastryMenu {
	margin-left: 5%;
}

@media (max-width: 970px) {
  div.dessertsMenu, div.pastryMenu {
    margin: 0 auto;
	width: 100%;} }

@media (max-width: 900px) {
  div.dessertsMenu, div.pastryMenu {
    margin-top: 5%;
    padding: 2%;
	width: 100%;} }

@media (max-width: 580px) {
  section.menu div.menu p {
    display: none;} }

@media (max-width: 550px) {
  div.dList, div.pList, div.cList {
	flex-direction: column;
	align-items: center; }
}

div.dList, div.pList, div.cList {
	display: flex;
	justify-content: space-between;
}

section.menu div.menu h3 {
	font-family: $fontHeader;
	color: $brandPrimary;
}

section.menu div.menu h4 {
	font-family: $fontBody;
	color: $brandQuaternary;
	text-transform: uppercase;
}

section.menu div.menu p {
	font-family: $fontBody;
	color: $brandSecondary;
}

section.about {
	background: url(../images/aboutbg.png);
	width: 100%;
	background-size: cover;
}

section.about div.about {
	width: 100%;
}

section.about div.about h2 {
	margin: 0;
	font-family: $fontHeader;
	color: $brandPrimary;
	padding: 7% 0;
}

section.about div.about p {
	text-align: left;
	width: 33%;
	line-height: 3rem;
}

@media (max-width: 900px) {
	section.about div.about p {
	text-align: center;
	width: 70%;
	}
}

section.about div.about img {
	padding: 10% 0;
}

section.Gallery {
	background: url(../images/gallerybg.jpg);
	width: 100%;
	background-size: cover;
}

section.Gallery h2 {
	font-family: $fontHeader;
	color: $brandPrimary;
	padding: 5% 0 2% 0;
}

div.gallery {
	display: flex;
	padding-bottom: 5%;
}

div.gallery aside ul {
	border: 7px double $brandTertiary;
	outline: 1px solid $brandTertiary;
	text-align: right;
	padding: 10%;
}

@media (max-width: 1200px) {
  div.gallery aside {
    display: none;
	width: 1%;} }

i.fa-circle {
	font-size: 1rem;
}

div.gallery aside ul li {
	padding: 7% 0;
	font-family: $fontHeader;
	font-size: 2em;
	font-weight: bold;
}

div.gallery aside ul li:hover {
	color: $brandPrimary;
	cursor: pointer;
}

div.gallery ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

div.gallery aside {
	width: 20%;
	margin-right: 1%;
}

div.galleryPics {
	width: 80%;
	margin-left: 1%;
	display: flex;
	flex-wrap: wrap;
}

@media (max-width: 1200px) {
  div.galleryPics {
    width: 100%;} }

div.galleryPics img {
	width: 33.33%;
	height: 33.33%;
	font-size: 0;
}

section.Journal {
	background: url(../images/journalbg.png);
	background-size: cover;
	width: 100%;
}

section.Journal div.wrapper h2 {
	color: $brandPrimary;
	padding: 5% 0;
}

ul.journal {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  padding-bottom: 5%;
}

ul.journal li {
  margin: 0 10px;
  position: relative; 
  margin: 0;
  padding: 0;
  width: 33.33%;
  font-size: 0;
}

li .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(255,255,255, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
}

li:hover .overlay {
  opacity: 1;
}

li .permOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(255,255,255, 1);
  top: 0;
  left: 0;
  opacity: 1;
}

div.permOverlay p {
	display: inline-block;
	background-color: $brandPrimary;
	color: $brandQuaternary;
	position: absolute;
	left: 5%;
	top: 15%;
}

div.permOverlay h4 {
	color: $brandSecondary;
	position: absolute;
	left: 5%;
	top: 2%;
}


ul.journal li img {
	width: 100%;
}

div.overlay p {
	display: inline-block;
	background-color: $brandPrimary;
	color: $brandQuaternary;
	position: absolute;
	right: 5%;
	bottom: 15%;
}

div.overlay h4 {
	position: absolute;
	right: 5%;
	bottom: 2%;
}

@media (max-width: 1520px) {
  div.overlay h4 {
    bottom: -4%;
	font-size: 1.6rem; } }

@media (max-width: 1520px) {
  div.permOverlay h4 {
    top: 25%;
	font-size: 1.6rem;} }

@media (max-width: 800px) {
  div.overlay {
    display: none;} }

@media (max-width: 800px) {
  div.permOverlay h4, div.permOverlay p {
	font-size: 1rem;} }

div.journalButton {
	display: flex;
	align-items: center;
	justify-content: center;
}

section.reservations {
	background: url(../images/reservationbg.png);
	width: 100%;
	background-size: cover;
}

section.reservations h2#reserve, section.contact h2#contact {
	margin: 0;
	color: $brandPrimary;
	padding: 5% 0;
}

button.center {
	background: $brandTertiary;
	color: $brandPrimary;
	border: 2px solid $brandPrimary;
	padding: 20px;
	margin: 5% 0;
	font-size: 1.6em;
	font-family: $fontBody;
}

button.center:hover {
	background-color: $brandPrimary;
	color: $brandQuaternary;
}

button.center a {
	text-decoration: none;
	color: inherit;
}

section.reservations div.reserve {
	display: flex;
}

@media (max-width: 1030px) {
  section.reservations div.reserve {
	flex-direction: column;} }

div.reserve {
	padding-bottom: 10%;
}

div.reserveInfo {
	width: 30%;
	margin-right: 5%;
}

div.reserveInfo p {
	font-size: 2rem;
	line-height: 2.6rem;
	padding-bottom: 5%;
}

div.reserveInfo p.para2 {
	padding-bottom: 15%;
}

@media (max-width: 1030px) {
  div.reserveInfo {
	width: 50%;
	text-align: center;
	margin: 0 auto;} }

div.callReserve {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	border: 7px double $brandTertiary;
	outline: 1px solid $brandTertiary;
	padding: 3%;
	margin-right: 5%;
	width: 100%;
}

div.callReserve:hover {
	background-color: $brandPrimary;
	color: $brandQuaternary;
	cursor: pointer;
	i.phone1 {
		color: $brandQuaternary;
	}
}


i.phone1 {
	color: $brandPrimary;
	font-size: 4em;
	padding-right: 5%;
}

div.callReserve p {
	margin: 0;
	padding: 2%;
}

div.callReserve p.phTitle {
	font-size: 1.6em;
	text-transform: uppercase;
}

div.callReserve p.phNumber {
	font-size: 2em;
	font-weight: bold;
}

form.reserve {
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	border: 7px double $brandTertiary;
	outline: 1px solid $brandTertiary;
}

@media (max-width: 1030px) {
	form.reserve {
		margin: 0 auto;
		margin-top: 5%;
	}
}

input[type=date],
input[type=time],
input[type=number],
input[type=name],
input[type=email],
input[type=tel] {
	width: 50%;
	font-size: 2em;
	font-family: $fontBody;
	padding: 5% 0;
}

input[type=date] {
	position: relative;
}

input[type=date]:before {
	position: absolute;
	font-family: "FontAwesome";
	font-size: 2em;
	content: "\f073";
	right: 2%;
}

input[type=time] {
	position: relative;
}

input[type=time]:before {
	position: absolute;
	font-family: "FontAwesome";
	font-size: 2em;
	content: "\f017";
	right: 2%;
}

textarea,
button.reserve {
	width: 100%;
	font-size: 2em;
	font-family: $fontBody;
	padding: 6% 0;
}

button.reserve {
	background: url(../images/seal.png);
	background-repeat: no-repeat;
	background-size: 240px;
	background-position: 3% center;
	background-color: $brandQuaternary;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.4em;
}

button.reserve:hover {
background-color: $brandTertiary;
color: $brandQuaternary;
}

section.contact {
	background: url(../images/contactbg.png);
	background-size: cover;
	width: 100%;
}

div.contact {
	display: flex;
	padding-bottom: 5%;
}

@media (max-width: 800px) {
	div.contact {
		flex-direction: column;
	}
}

div.contactIcons {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-right: 5%;
}

@media (max-width: 800px) {
	div.contactIcons {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
}

div.contactIcons i {
	font-size: 1.6em;
	padding-right: 3%;
	color: $brandPrimary;
}

div.socialIcons1 i {
	font-size: 1.6em;
	padding-right: 3%;
	color: $brandPrimary;
	padding-top: 7%;
	padding-bottom: 7%;
}

div.contactIcons i:hover, div.socialIcons1 i:hover {
	color: $brandSecondary;
}

div.socialIcons1 a	{
		text-decoration: none;
	}

div.formContact {
	width: 50%;
	border: 7px double $brandTertiary;
	outline: 1px solid $brandTertiary;
}

@media (max-width: 800px) {
	div.formContact {
		width: 100%;
		margin: 0 auto;
		margin-top: 5%;
	}
}

#form2 {
	width: 100%;
}

button.contact {
	padding: 8% 0;
}