// COLORS
$brandPrimary: rgb(234, 145, 69);
$brandSecondary: rgb(131, 131, 131);
$brandTertiary: rgb(0, 0, 0);
$brandQuaternary: rgb(255, 255, 255);

// FONTS
$fontHeader: 'Rufina', serif;
$fontBody: 'Raleway', sans-serif;

// WRAPPER 
$wrapperWidth: 70%;